__pycache__/
*.pyc
.aider.chat.history.md
.venv/
.venv-*/
.idea/
*.egg-info/
layer-tools/searxng/app/
layer-tools/searxng/.venv/
layer-gateway/litellm-orch/config/env.local
layer-interface/open-webui/.webui_secret_key
