[submodule "layer-gateway/litellm-orch"]
	path = layer-gateway/litellm-orch
	url = git@github.com:bebopbabailey/litellm-orch.git
[submodule "layer-inference/ov-llm-server"]
	path = layer-inference/ov-llm-server
	url = git@github.com:bebopbabailey/ov-llm-server.git
