[submodule "layer-gateway/litellm-orch"]
	path = layer-gateway/litellm-orch
	url = https://github.com/bebopbabailey/orchestration.git
[submodule "layer-inference/ov-llm-server"]
	path = layer-inference/ov-llm-server
	url = https://github.com/bebopbabailey/ov-llm-server.git
