MEDIA_FETCH_MCP_HOST=127.0.0.1
MEDIA_FETCH_MCP_PORT=8012
MEDIA_FETCH_SEARXNG_API_BASE=http://127.0.0.1:8888/search
MEDIA_FETCH_SEARXNG_CATEGORIES=general
MEDIA_FETCH_VECTOR_DB_API_BASE=http://192.168.1.72:55440
# MEDIA_FETCH_VECTOR_DB_WRITE_BEARER_TOKEN=
MEDIA_FETCH_SESSION_TTL_SECONDS=86400
